@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Special Elite", serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background: #041163;
}

/* ukuran flipbook */
.flipbook {
    width: 1000px;
    height: 600px;
}

/* pengaturan sampul depan belakang */
.flipbook .hard {
    background: #4114d3 !important;
    color: #fff;
    font-weight: lighter;
    border: none; 
}

/* pengaturan halaman */
.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

/* pengaturan tulisan h1 */
.flipbook .hard h1,
.flipbook .page h1 {
    font-size: 64px; /* adjust size as needed */
    line-height: 1.2;
    text-align: center;
}

/* pengaturan tulisan h2 */
.flipbook .hard h2,
.flipbook .page h2 {
    font-size: 16px; /* adjust size as needed */
    font-weight: normal;
    text-align: center;
    line-height: 1.4;
}

/* pengaturan tulisan h3 */
.flipbook .hard h3,
.flipbook .page h3 {
    font-size: 12px; /* adjust size as needed */
    font-weight: normal;
    text-align: center;
    line-height: 1.4;
}

/* tulisan rata tengah, maksimal 80% */
.text-container {
    max-width: 80%;
    text-align: center;
  }


/* toc */
  .toc-container {
    position: absolute; /* or relative/fixed */
    top: 20px;           /* optional */
    left: 55px;          /* align to the left side */
  }
  
  .toc-container a {
    display: block;
    color: #003366;
    text-decoration: none;
    font-size: 12px;
    margin: 10px 10px;
    position: center;
    transition: color 0.2s ease;
  }
  
  .toc-container a::after {
    content: "→";
    position: absolute;
    right: -100px;
    color: #003366;
    transition: right 0.2s ease;
  }
  
  .toc-container a:hover {
    color: #b03030;
  }
  
  .toc-container a:hover::after {
    right: -110px;
  }

  /* back-toc-container */
  .back-toc-container {
    position: relative; /* or relative/fixed */
    top: 250px;           /* optional */
  }
  
  .back-toc-container a {
    display: block;
    color: #003366;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 0px;
    position: center;
    transition: color 0.2s ease;
  }
  
  .back-toc-container a::after {
    content: "←";
    position: relative;
    right: 130px;
    color: #003366;
    transition: right 0.2s ease;
  }
  
  .back-toc-container a:hover {
    color: #b03030;
  }
  
  .back-toc-container a:hover::after {
    right: 150px;
  }
  
  .link a {
    display: block;
    color: #003366;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 0px;
    position: center;
    transition: color 0.2s ease;
  }
  
  .link a:hover {
    color: #b03030;
  }
  
  .link a:hover::after {
    right: 150px;
  }